.lable-delay {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
}
.docinput-delay {
  width: 270px;
  padding: 8px 12px;
  border: 1px solid #808080;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 16px;
}
.fieldset {
  padding: 24px 52px 8px;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid #808080;
  margin-bottom: 24px;
}
legend {
  text-align: start;
}
.btn-submit {
  padding: 8px 88px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  outline: none;
  width: fit-content;
  margin-left: 0;
  display: block;
  border-radius: 5px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
